:root{
    --oscurito: #232226 ;
    --azul: #253342;
    --verde: #3e5954;
    --verdecito: #5e9188;
    --clarito: #eae3d0;

}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: "Roboto Slab", serif;
}

h1 span{
    font-size: 2rem;
}
.titulo{
    text-align: center;
    font-size: 3.4rem;
    color: var(--azul);

}
h2.titulo span{
    font-size: 2rem;
}
.container{
    max-width: 120rem;
    margin: 0 auto 0 auto ;
}

/*------------------------------ Barra de navegacion-------------------------------------- */
.nav_bg{
    background-color: var(--azul);
}
.navegacion_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 480px){
    .navegacion_principal{
        flex-direction: row; 
        justify-content: space-evenly;
    }
}
.navegacion_principal a{
    color: var(--clarito);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.5rem;
}
.navegacion_principal a:hover{
    background: rgba( 255, 255, 255, 0.35 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px ); 
    color: #253342;
    border-radius: 10px;
}
/* ----------------------------------Imagen, info, etc---------------------*/

