:root{
    --oscurito: #232226 ;
    --azul: #253342;
    --verde: #2b5166;
    --verdecito: #5e9188;
    --clarito: #eae3d0;
}





html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
.servicios,
.navegacion_principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;/* 1rem = 10px */
    font-family: "Roboto Slab", serif;
    background-image: linear-gradient(to top, #fff9d8 0%, var(--clarito) 100%);
}
.titulo span{
    font-size: 2rem;
}

.container{
    max-width: 120rem;
    margin: 3rem auto 0 auto ;
}
.boton{
    background-color: var(--clarito);
    color: var(--azul);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    text-align: center;
    border: none;
}
@media(min-width: 490px){
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}

/*----------Utilidades----------------*/
.sombra{
    -webkit-box-shadow: 2.5px 5.5px 19.5px 3.5px #a5a5a5;
    -moz-box-shadow: 2.5px 5.5px 19.5px 3.5px #a5a5a5;
    box-shadow: 2.5px 5.5px 19.5px 3.5px #a5a5a5;
    background-color: var(--clarito);
    border-radius: 10px;
    padding: 2rem;
}
h1{
    font-size: 3.8rem;
    text-align: center;
}
h2{
    font-size: 2.8rem;
    text-align: center;
}
h3{
    font-size: 1.8rem;
    text-align: center;
}
.w-100{
    width: 100%;
}
.flex{
    display: flex;
}
.jc{
    justify-content: end;
}
.w-100{
    width: 100%;
}
@media(min-width: 490px){
    .w-100{
        width: auto;
    }
    
}

/*------------------------------ Barra de navegacion-------------------------------------- */
.nav_bg{
    background-color: var(--azul);
}
.navegacion_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 480px){
    .navegacion_principal{
        flex-direction: row; 
        justify-content: space-evenly;
    }
}
.navegacion_principal a{
    color: var(--clarito);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.5rem;
}
.navegacion_principal a:hover{
    background: rgba( 255, 255, 255, 0.35 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px ); 
    color: #253342;
    border-radius: 10px;
}
/* ----------------------------------Imagen, info, etc---------------------*/
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.container_hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_hero h2, .container_hero p{
    color: var(--clarito);
}
/* ----------------------------------Servicios---------------------*/

@media(min-width:769px ){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);/* 1fr = 1 fraccion*/
        column-gap: 3rem;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.servicio h3{
    color: var(--azul);
    font-weight: 400px;
}
.servicio p{
    line-height: 2;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--verde);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*----------------------------------Formulario------------------------------------------------*/
.formulario{
    background-color: var(--verde);
    width: min(60rem, 100%); /*min() Utiliza el valor mas peque;o*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
}
.formulario fieldset{ /* Elimina el borde del formulario*/
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--clarito);
}


.info{
    margin-bottom: 1rem;
}
.info label{
    color: var(--clarito);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input-info{
    background-color: #a5a5a5;
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}
.info textarea{
    height: 20rem;
}

@media(min-width: 768px){
    .container-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .info:nth-child(3),
    .info:nth-child(4){    /*Lo que hace :nth-child() es que selecciona un elmento desde los que contengan esa clase*/
        grid-column: 1 /3; /* Lo que hace grid-column es selecciona en que columna estara, en este caso al estar
                                divididas en 3 partes, se posciciona de la columna 1 a la 3*/
    }
}
/*----------------------Footer-------------------------------------------------------------------*/
.footer{
    text-align: center;
}